.root {
   width: 100%;
}
.bar {
	width: 100%;
	color: yellow
}
.card-box {
  width: 950px;
  border: 1px solid lightgrey;
  padding: 10px;
  margin-top: 100px; 
  margin: auto;
  background: #64b3d8;
}
.Classes {
	text-align: center;
	color: white;
	font-size: 30px;
	margin-left: 25px;
}
.description {
	text-align: center;
	color: white;
	margin-top: 0px;
	margin-left: 25px;
	margin-bottom: 35px;
}
.menuButton {
  marginRight: theme.spacing(2),
}
.title {
  flexGrow: 1,
}
.login {
	margin-left: 1110px;
}
.papers {
	background: blue;
}